body{
  background-image: url(imagenes/fondo.jpg);
}


.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      }


ul.ok { list-style-image: url("imagenes/iconOK.png" );
text-align:left;}
